* {
  fill: #16FF42;
  text-anchor: start;
  font-family: System-Regular;
}

.background {
  viewport-fill: black;
}

#clock {
  font-size: 40;
  text-length: 32;
}

#system-info {
  text-anchor: middle;
  font-size: 8;
}

#date {
  font-size: 20;
}

#dweller {
  font-size: 16;
  text-anchor: middle;
}

.si { /*stat image*/
  fill: #16FF42;
  opacity: 1;
}

.lc { /*left column*/

}

.rc { /*right column*/

}