* {
  fill: #16FF42;
  text-anchor: start;
  font-family: System-Regular;
}

.background {
  viewport-fill: black;
}

#clock {
  font-size: 40;
  text-length: 32;
}
#system-info {
  text-anchor: middle;
  font-size: 8;
}

#date {
  font-size: 20;
}

#dweller {
  font-size: 16;
  text-anchor: middle;
}
